main.password_reset {
    padding: 40px 90px;
    text-align: center;
    h1 {
        color: #15182E;
        font-size: 34px;
        font-weight: 400;
    }

    p {
        color: #15182E;
        font-size: 18px;
        font-weight: 400;
       
        width: 550px;
        text-align: left;
        margin: auto;
        margin-top: 40px;
    }

    .input_box {
        position: relative;
        
        width: 538px;
        margin: 40px auto;

        input {
            width: 100%;
            height: 50px;
            outline: none;
            border: 1px solid #15182E;
            border-radius: 10px;
            font-size: 1em;
            padding-left: 15px;
        }


        span.input_label {
            position: absolute;
            left: 15px;
            top: -10px;
            pointer-events: none;
            font-size: 1em;
            color: #15182E;
            text-transform: uppercase;
            background: #ffff;
            padding: 0 4px;

        }
    }

    button {
        color: rgba(255, 255, 255, 0.5);
        background: #AAAAAA;
        width: 555px;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 900;
        height: 50px;
        margin: auto;
        margin-left: 10px;
    }
}